.star-rating {
  padding: 10px;
  display: flex;
  gap: 5px;
}
.star {
  width: 30px;
  height: 30px;
  border: solid 1px black;
  margin-right: 5px;
  cursor: pointer;
  position: relative;
}

/* Full */
.star-full {
  background-color: yellow;
}

/* Empty */
.star-empty {
  background-color: grey;
}

/* Half (use overlay trick) */
.star-half {
  background-color: grey; /* empty background */
}
.star-half::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 50%;
  background-color: yellow; /* fill left half */
}
